// @thanks to: https://css-tricks.com/snippets/sass/power-function/
@function pow($in-value, $in-exp) {
  $value: 1;
  $exponent: abs($in-exp);

  @for $i from 1 through $exponent {
    $value: $value * $in-value;
  }

  @if $in-exp > 0 {
    @return $value;
  } @else {
    @return 1 / $value;
  }
}
