/*debug Start*/
@function debug($list) {
  $result: #{"[ "};

  @each $item in $list {
    @if length($item) > 1 {
      $result: $result#{debug($item)};
    }
    @else {
      $result: $result#{$item};
    }
    @if index($list, $item) != length($list) {
      $result: $result#{", "};
    }
  }

  $result: $result#{" ]"};

  @return $result;
}
/*debug End*/
